/*Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
  background-color: #c26f1e;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
}

.footer {
  background-color: #c26f1e;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: capitalize;
}

.navbar-brand {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: #fff;
}


.nav-link {
  color: #fff;
  margin: 5px;
}

.nav-link:hover {
  background-color: #fff;
  color: #c26f1e;
  border-radius: 15px;
}

.navbar-collapse {
  background-color: #c26f1e;
  width: 100%;
}

.collapse {
  width: 100%;
}

.dropdown-menu {
  background-color: #c26f1e;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #fff;
  color: #c26f1e;
  border-radius: 15px;
}

.active {
  background-color: #fff;
  color:#c26f1e !important;
  border-radius: 15px;
}