/*Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #c26f1e;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

label.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    overflow: hidden;
}

nav ul {
    justify-content: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: capitalize;
}

a.acive, a:hover {
    background-color: #fff;
    color: #c26f1e;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.footer {
    background-color: #c26f1e;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
}


@media (max-width: 952px) {

}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
        margin: 20px;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #c26f1e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        Background-color: #fff;
        color: #c26f1e;
      }
      #check:checked ~ ul{
        left: 0;
      }
}